[submodule "OMCLBoost"]
      path = cloudclean/thirdparty/omclboost
      url = https://github.com/circlingthesun/omclboost

[submodule "EigenLibSVM"]
      path = cloudclean/thirdparty/EigenLibSVM
      url = https://github.com/karpathy/EigenLibSVM
