# Code
#/cloudclean/CloudClean
*.o
*.a
*.so
*~
.fuse_*
*.pro.user
qrc_*.cpp
# Docs
/docs/*/*.pdf
*.snm
*.d
*.fls
*.nav
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.nav.make
*.toc.make
*.out.make
*.aux.make
*.auxbbl.make
*.auxtarget.make
*.auxbbl.make.temp
